body {
    font-family: "Courier New", "Times New Roman", monospace;
}

h1,
h2 {
    font-weight: bold;
    background-color: #008080;
    color: #e6e6fa;
}

h1 {
    text-align: center;
    letter-spacing: 15px;
    text-transform: uppercase;
}

h2 {
    letter-spacing: 5px;
}

img {
    width: 400px;
    height: auto;
    
}

.list,
.descr {
    color: #008080;
    background-color: #e6e6fa;
    line-height: 1.25;
}

.center {
    text-align: center;
}